.ProductContainer{
    height: 100%;
    width: 100%;
    display: flex;
   justify-content: center;
   background-color: rgb(64, 64, 64);
}
.ProductContainerRight{
    width: 60%;
    /* background-color: rgb(85, 28, 28); */
    padding: 5rem 0;
}
.FilterSection{
    width: 20%;
    height: 100%;
}
