.cart-image img {
    width: 100px;
}

.color-style {
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.img-name-color {
    display: flex;
    gap: 1rem;
}

.CartItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}

.color-div {
    display: flex;
    align-items: center;
    gap: .3rem;
    margin-top: 5px;
}

.cardItemInnerX {
    flex: 5;
    /* border: 1px solid; */
    text-align: center;
}
.Cart-item-quantity{
    flex: 5;
    display: flex;
   justify-content: center;
   gap: .5rem;
}
.Cart-item-quantity button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    /* cursor: pointer;  */
    outline: none; 
}