button{
    background-color: blueviolet;
    border: none;
    padding: 0.5rem;
    color: white;
}
.FooterContainer{
    width: 100%;
    max-height: 150vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(189, 125, 248);
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
.icons{
    display: flex;
    gap: .5rem;
}
.icon{
    background-color: aliceblue;
    padding: 0.2rem;
    border-radius: 50%;
}
.middle input[type="text"]{
    height: 20px;
    padding-left: 70px;
    outline: none;
}
@media (max-width:768px) {
    .FooterContainer{
        flex-direction: column;
        gap: 1.3rem;
    }
}