
.featureproducts{
    position: relative;
    
}

.card img{
    width: 300px;
    padding-top: 0.9rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
}
.caption{
    position: absolute;
    top: 25px;
    right: 20px;
    padding: .5rem;
    background-color: rgb(222, 235, 246);
    border-radius: 25px;
    text-transform: uppercase;
    font-size: small;
}
.card-data{
    display: flex;
    justify-content: space-between;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    margin-top: 5px;
}
.card{
    background-color: rgb(255, 255, 255);
    height: 260px;
    border-radius: 10px;
}