*{
  margin:0;
  padding:0;
  box-sizing:boder-box;
  }

  html,body{
    height: 100%;
    width: 100%;
  }
  body{
    background-color: #d5b7b7;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none;
    color: black;
  }

  